.logo{
    width: 20px;height: 20px;
}
.login{
    width: 400px;height: 400px;border: 1px solid gray;
    text-align: center;
}
.login h2{
    line-height: 180px;
}
.col main {
    background-position: center;
}
.login  button{
    border-radius: 10px;
    background-color: aqua;color: azure;
    border:none
}